/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: azure;
}
a,button{
    text-decoration: none;
    color: azure;
}