<div id="alert" *ngIf="deleted" class="alert alert-danger w-25 fade show" role="alert">
    Team Deleted Successfully!
</div>
<div class="container">
    <h2>Team Details</h2>
    <table class="table">
        <thead>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
            <tr>
                <td> Name </td>
                <td> {{team.name}} </td>
            </tr>
            <tr>
                <td> Country </td>
                <td> {{team.country}} </td>
            </tr>
            <tr>
                <td> Date </td>
                <td> {{team.date | date:'medium'}} </td>
            </tr>
            <tr>
                <td> Distance (km) </td>
                <td> {{team.distance}} </td>
            </tr>
        </tbody>
    </table>
    <h4 class="my-3">Team Members</h4>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Country</th>
            <th>Contact Name</th>
            <th>Contact Telephone</th>
        </thead>
        <tbody>
            <tr *ngFor="let member of team.teamMembers">
                <td> {{ member.name }} </td>
                <td> {{ member.age }} </td>
                <td> {{ member.address }} </td>
                <td> {{ member.country }} </td>
                <td> {{ member.contactName }} </td>
                <td> {{ member.contactTelephone }} </td>
            </tr>
        </tbody>
    </table>
    <div class="w-100">
        <button routerLink="/edit/{{team._id}}" class="btn btn-primary">Edit</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Team</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You are attempt to Delete it permanently from database, Are you sure to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="deleteTeam()" class="btn btn-outline-danger mx-5">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
 