<div class="grid-container">


        <main>
            <p>Alexander Vinokourov competing in the London 2012 Men's Olympic Time Trial.</p>
        </main>
        <header>
            <!-- <a class="nav-link"  routerLink="teams">Teams</a> -->
            <a class="nav-link" *ngIf="!uService.logedIn()" routerLink="login">Login</a>
            <a class="nav-link" *ngIf="!uService.logedIn()" routerLink="register">Register</a>
            <button class="nav-link" *ngIf="uService.logedIn()" (click)="uService.logout()">LogOut</button>
        </header>
        <section class="nom">
            <p>The Tour of Gippsland – a stage race in Australia – climbing through the Omeo Shire</p>
        </section>
        <section class="yum">
            <p>Cyclists drafting behind one another, forming a paceline</p>
        </section>
        <section class="lol">
            <p>A breakaway of riders during the 2021 Giro d'Italia</p>
        </section>
        <div class="tum">
            <p>The 1991 Giro d'Italia. The Giro is one of three Grand Tours.</p>
        </div>
        <footer>
            <p>Hobby project MWA, Boris Leighton I., May block, 2022</p>
        </footer>


</div>